<h1>Arts API</h1>

<p>This is a RESTful JSON API for Art. It exposes the following endpoints:</p>

<ul>
  <li>
    <%= link_to "#get-art" do %>
      <code>GET /arts</code>
    <% end %>
  </li>
</ul>

<h2 id="#get-arts">GET /arts</h2>
